################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/out

# conan install files
conanbuildinfo.txt
conaninfo.txt
graph_info.json
